{
	admin {$CADDY_SERVER_ADMIN_HOST}:{$CADDY_SERVER_ADMIN_PORT}
	auto_https off
	grace_period 30s
	frankenphp {
		num_threads {$OCTANE_THREADS:2}
		max_threads {$OCTANE_THREADS:2}
		max_wait_time 10s
		worker {
			file "{$APP_PUBLIC_PATH}/frankenphp-worker.php"
			{$CADDY_SERVER_WORKER_DIRECTIVE}
		}
	}
}

{$CADDY_SERVER_SERVER_NAME} {
	root * "{$APP_PUBLIC_PATH}"
	encode zstd gzip

	header {
		X-Frame-Options SAMEORIGIN
		X-Content-Type-Options nosniff
		-Server
		-X-Powered-By
	}

	route {
		@hidden {
			path_regexp hidden (^|/)\.
			not path /.well-known/*
		}
		respond @hidden 404

		@otherPhp {
			path_regexp php (?i)\.php($|/)
			not path /index.php /index.php/*
		}
		respond @otherPhp 404

		php_server {
			index frankenphp-worker.php
			try_files {path} frankenphp-worker.php
			resolve_root_symlink
		}
	}

	log {
		output stdout
		format json
	}
}
